---
import ImageBackground from "./global/ImageBackground.astro";
import Section from "./global/Section.astro";
---

<Section
  title="Model S"
  subtitle="Programe una consulta virtual"
  color="black"
  id="model-s"
>
<div slot="footer">
  <div class="block mr-4 md:flex md:flex-col md:flex-grow md:justify-end">
    <div class="block px-2 md:px-0">
      <a
        class="block mb-2 border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 hover:bg-black hover:text-wite hover:border-black transition-colors duration-300 md:inline-flex justify-center items-center"
        href="#"
      >
      Pedido Personalizado</a
      >

      <a
        class="block border-[3px] border-white bg-white text-sm rounded font-medium text-black px-12 py-2 hover:bg-black hover:text-white hover:border-black transition-colors duration-300 md:inline-flex justify-center items-center"
        href="#"
      >
      Saber más</a
      >
    </div>
  </div>
</div>

  <div slot="background">
    <ImageBackground
      url="./model-s.avif"
      alt="Model S"
    />
  </div>
</Section>
