<nav class="relative bottom-[5%] z-20">
    <ul class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 justify-center">
      <li><a href="">Tesla © 2023</a></li>
      <li><a href="">Privacidad y legal</a></li>
      <li><a href="">Contacto</a></li>
      <li><a href="">Noticias</a></li>
      <li><a href="">Seguir informado</a></li>
      <li><a href="">Localización de tiendas</a></li>
    </ul>
  </nav>